# Azure SQL Database Configuration
AZURE_SQL_SERVER=rdb-ibp-bmsa-prd.database.windows.net
AZURE_SQL_DATABASE=BDIBPBMSA_PRD
AZURE_SQL_USER=seu-usuario-aqui
AZURE_SQL_PASSWORD=sua-senha-aqui
AZURE_SQL_PORT=1433
AZURE_SQL_SCHEMA=dbo

# Server Configuration
PORT=8000

# Node Environment
NODE_ENV=production
